
.App {
  text-align: center;
  color: green;
  background-image: url("/fruit_photo_main.png");
  background-size: cover;
  background-position: center;
  height: 1500px;
  /* overflow: hidden; */
  background-repeat: repeat;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 10px;
  background-color: palegreen;
}

h1 {
  font-size: 40px;
}


form.auth-form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  left: 40vw;
  position: relative;
  top: 20px;
  background-color: palegreen;
  height: 100px;
  padding: 50px;
}

.button {
  background-color: green;
  border: 0;
  color: white;
  font-size: 20px;
  padding: 10px 24px;
  border-radius: 4px;
}


/* RECIPE CARD CSS */

img {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}

.recipe-card {
  display: inline-grid;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: peachpuff;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  width: 150px;
}

.column {
  float: left;
  width: 20%;
  padding: 0,10px;
}

.row {
  margin: 5px;
}

.favorites {
  width: fill;
  border: 10px solid peachpuff;
  padding: 100px;
  background-color:peachpuff;
}


/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */



