
.App {
  text-align: center;
  color: green;
  background-image: url("/fruit_photo_main.png");
  background-size: cover;
  background-position: center;
  height: 1900px;
  background-repeat: repeat-y;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 10px;
  background-color: palegreen;
}

h1 {
  font-size: 50px;
  font-family: 'Luckiest Guy', cursive;
}


form.auth-form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  left: 40vw;
  position: relative;
  top: 20px;
  background-color: palegreen;
  height: 100px;
  padding: 50px;
}

.button {
  background-color: green;
  border: 0;
  color: white;
  font-size: 20px;
  padding: 10px 24px;
  border-radius: 4px;
}

.small-button {
  background-color: green;
  /* border: 0; */
  color: white;
  font-size: 15px;
  padding: 0px 0px;
  border-radius: 4px;
}


/* RECIPE CARD CSS */

img {
  border: 1px solid #ddd;
  border-radius: 50%;
  /* padding: 5px; */
  width: 150px;
}

img #apple {
  border-style: none;
  border-radius: 50%;
  background-color: orange;
  /* padding: 5px; */
  width: 150px;
}

.recipe-card {
  display: inline-grid;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: peachpuff;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  margin: 5px;
  width: 150px;
  /* height: 170px; */
}

.column {
  /* float: left; not working well */
  width: 20%;
  padding: 0,10px;
}

.row {
  margin: 5px;
}

.favorites {
  width: fill;
  border-style: solid peachpuff;
  border-width: thin;
  padding: 20px;
  margin: 10px;
  background-color:peachpuff;
}

form.new-food-form {
  display: flex;
  flex-direction: column;
  width: 27vw;
  left: 37vw;
  position: relative;
  top: 30px;
  background-color: lightgreen;
  height: 200px;
  padding: 70px;
}

.TwirlyApple {
  transition: all 3s ease-in-out;
  display: inline;
}

.TwirlyApple img {
  border-style: none; 
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 90px;
  width: 100px;
  transition: all .2s ease-in-out;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

